{% extends "base.twig" %}

{% import "macroForm\\form.twig" as forms %}


{% block header %}
    <h1>Inscription</h1>
{% endblock %}

{% block section %}
<form name="{{ current_page }}Formulaire" action="index.php" method="post" class="was-validated">
	<p>
		{{ forms.input('mail','votre identifiant adresse mail','','texte') }}
	</p>
	<p>
		{{ forms.input('pseudonyme','votre pseudonyme','','texte') }}
	</p>
	<p>
		{{ forms.input('password','votre mot de passe','','password') }}
	</p>
	<p>
		{{ forms.input('passwordConfirm','confirmer votre mot de passe','','password') }}
	</p>
	{% if setErr|length > 0 %}
		<div class="col">
			<p>
				<span class="alert alert-danger">{{ setErr }}</span>
			</p>
		</div>
	{% endif %}
	<p>
		<button type="submit" class="btn btn-primary">Soumettre</button>
		
	</p>
	<input type="hidden" name="p" id="page" value="userRegistration">
</form>
{% endblock %}